<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type = "text/css" href = "/stylesheets/bill.css">
    <title>Bill</title>
</head>
<body>
    <h1>Hello <%=  user.username  %>👋</h1>
    <div id = "main">
        <h2>Your Order</h2>
        <div id = "info">
            <h5>Card:</h5>
        </div>
    </div>
</body>
</html>