<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping</title>
    <link rel = "stylesheet" type = "text/css" href = "/stylesheets/homepage.css">
</head>
<body>
    <div id = "main">
        <div id = "navbar">
            <div id = "first1">
            </div>
            <div id = "first">
            <h4>Home</h4>
            </div>
            <div id = "second">
            <h4>About</h4>
            </div>
            <div id = "third">
            <h4>Services</h4>
            </div>
            <div id = "fourth">
            <h4>Contact</h4>
            </div>
            <a href = "/login">
            <div id = "fifth">
                <h4>Login</h4>
            </div>
            </a>
            <a href = "/register"><div id = "sixth">
                <h4>Register</h4>
            </div>
            </a>
            </div>
            <div id = "banner">
            </div>
            <div id = "cards">
                <div id = "card">
                    <img src = "https://veirdo.in/cdn/shop/files/b_0119493a-9927-4550-8323-baefe5f625c0.jpg?v=1724147309">
                    <h2>Shirt</h2>
                    <h4>The cotton shirt material is an appealing choice for daily wear due to its suppleness and hypoallergenic qualities.</h4>
                    <h5>Price: ₹400</h5>
                    <div id = "feature">
                        <button id = "buy">Buy Now</button>
                        <button id = "cart">Add Cart</button>
                    </div>
              </div>
              <div id = "card">
                <img src = "https://m.media-amazon.com/images/I/81Sqh7EKwxL._AC_UY1100_.jpg">
                <h2>Jeans</h2>
                <h4>Jeans are comfortable to wear for long periods of time. As long as they fit right, a person can easily wear a pair of jeans .</h4>
                <h5>Price: ₹500</h5>
                <div id = "feature">
                    <button id = "buy">Buy Now</button>
                    <button id = "cart">Add Cart</button>
                </div>
          </div>
          <div id = "card">
            <img src = "https://assets.myntassets.com/w_412,q_60,dpr_2,fl_progressive/assets/images/25080860/2023/10/26/eb8530aa-292d-4b84-9e49-ee56a12999ce1698304530703-boohooMAN-Bomber-Jacket-5211698304530502-1.jpg">
            <h2>Jacket</h2>
            <h4>There are a lot of warm benefits that a jacket provides us with particularly when we need to keep it stylish.</h4>
            <h5>Price: ₹700</h5>
            <div id = "feature">
                <button id = "buy">Buy Now</button>
                <button id = "cart">Add Cart</button>
            </div>
      </div>
      <div id = "card">
        <img src = "https://lp2.hm.com/hmgoepprod?set=quality%5B79%5D%2Csource%5B%2Fd8%2F24%2Fd824918fea741b7973a3953e88b7b16355dafcf1.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5B%5D%2Ctype%5BLOOKBOOK%5D%2Cres%5Bm%5D%2Chmver%5B1%5D&call=url[file:/product/main]">
        <h2>Hoodies</h2>
        <h4>Hoodies are designed to be cosy and comfortable, and the powerful effects of clothing that people feel comfortable.</h4>
        <h5>Price: ₹800</h5>
        <div id = "feature">
            <button id = "buy">Buy Now</button>
            <button id = "cart">Add Cart</button>
        </div>
  </div>
  <div id = "card">
    <img src = "https://assets.ajio.com/medias/sys_master/root/20221115/NAMl/6373d41baeb269659c8fbebc/-473Wx593H-410343335-26044-MODEL.jpg">
    <h2>Cap</h2>
    <h4>Cap's can actually protect the scalp from harmful UV rays and environmental damage, which are known contributors to hair loss</h4>
    <h5>Price: ₹600</h5>
    <div id = "feature">
        <button id = "buy">Buy Now</button>
        <button id = "cart">Add Cart</button>
    </div>
</div>
    </div>
</body>
</html>